<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style type="text/css">
        .list-group{
            line-height: 180%;
            border-radius: 1px
        }
        .list-group-item-info{
            background-color: mediumturquoise;
        }
    </style>
</head>
<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <div class="card">
            <!-- These act as the inputs for running the filters in the typescript files-->
            <input id="ownerfilter" #input type="text" placeholder="Filter by owner" (input)="todoOwner = $event.target.value">
            <select #input type="text" placeholder="Filter by status" (input)="filterStatus($event.target.value)">
                <option value="">Status</option>
                <option value="incomplete">Incomplete</option>
                <option value="complete">Complete</option>
            </select>
            <input id="bodyfilter" #input type="text" placeholder="Filter by body" (input)="todoBody = $event.target.value">
            <input id="categoryfilter" #input type="text" placeholder="Filter by category" (input)="todoCategory = $event.target.value">
        </div>
    </li>
    <li id="title" class="list-group-item list-group-item-info">Todo List</li>
</ul>

<ul class="list-group" *ngIf="todos; else todosError">

    <li id="todos" style=" background-color:lightcyan" *ngFor="let todo of this.filterTodos(todoOwner, todoBody, todoCategory, todoStatus)" class="list-group-item">
        <div class="btn-group" role="group" style="color:black">
            <br>The owner is: {{ todo.owner }}<br/>
            <br>Has it been completed: {{ todo.status }}<br/>
            <br>The contents: {{ todo.body }}<br/>
            <br>Category: {{ todo.category }}<br/>
        </div>
    </li>

</ul>

<ng-template #todosError>
    <p>
        There was a problem loading the todos. Possibly the server is down or perhaps there are network issues.
    </p>
    <p>
        Please wait a bit and try again.
    </p>
</ng-template>
</html>
